html,
body{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    font-size: 16px;

}

.navbar{
    background: #46ACC2;
    height: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 0;
    color: #fff;
}

.navbar a{
    color: #fff;
}

.main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.intro{
    font-size: 33px;

}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    background-color: #46ACC2;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: #fff;
}

#addStudentForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_element{
    padding: 10px 20px;
}

button{
    margin: 0 5px;
}

table,
th,
td{
    margin: 30px auto 0 auto;
    border: 1px solid black;
}

th,
td{
    padding:10px;
}